<!-- Svitlana -->
<header class="header">
    <div class="header-container container">
        <a class="header-logo" href="./index.html">
            <span class="header-logo-select">SIMPLY&nbsp;</span>CHOCOLATE
            <svg class="header-logo-svg-choc">
                <use href="./img/icons.svg#logo-chocolate"></use>
            </svg></a>
        <nav class="header-nav">
            <ul class="header-nav-list">
                <Li class="header-nav-item">
                    <a class="header-nav-link" href="">Home</a>
                </Li>
                <li class="header-nav-item">
                    <a class="header-nav-link"  href="#How-it’s-made?">How it’s made?</a>
                </li>
                <li class="header-nav-item">
                    <a class="header-nav-link" href="#Our-products">Our products</a>
                </li>
                <li class="header-nav-item">
                    <a class="header-nav-link" href="#Top-sellers">Top sellers</a>
                </li>
                <li class="header-nav-item">
                    <a class="header-nav-link" href="#Chocolate-is-loved">Chocolate is loved</a>
                </li>
            </ul>          
        </nav>
        <ul class="header-soc-list">
            <li class="header-soc-item">
                <a class="header-soc-link" href="https://www.instagram.com/" target="_blank" title="Instagram">
                    <svg class="header-soc-icon" width="24" height="24">
                        <use href="./img/icons.svg#instagram"></use>
                    </svg>
                </a>
            </li>
            <li class="header-soc-item">
                <a class="header-soc-link" href="https://twitter.com/" target="_blank" title="Twitter">
                    <svg class="header-soc-icon" width="24" height="24">
                        <use href="./img/icons.svg#twitter"></use>
                    </svg>
                </a>
            </li>
        </ul>

        <button type="button" class="header-btn-ham js-open-menu">
            <svg class="header-btn-ham-svg">
                <use href="./img/icons.svg#menu-hamburger"></use>
            </svg>
        </button>

        <!-- HEDER-MODAL-MENU -->
        <div class="header-modal-menu js-menu-container">
            <div class="header-modal-menu-container">
            <button class="header-btn-close js-close-menu" type="button">
                <svg class="heder-close-icon">
                    <use href="./img/icons.svg#close-btn"></use>
                </svg>
            </button>
            <nav class="header-nav-modal">
                <ul class="header-nav-modal-list">
                    <Li class="header-nav-modal-item">
                        <a class="header-nav-modal-link" href="">Home</a>
                    </Li>
                    <li class="header-nav-modal-item">
                        <a class="header-nav-modal-link" href="#How-it’s-made?">How it’s made?</a>
                    </li>
                    <li class="header-nav-modal-item">
                        <a class="header-nav-modal-link" href="#Our-products">Our products</a>
                    </li>
                    <li class="header-nav-modal-item">
                        <a class="header-nav-modal-link" href="#Top-sellers">Top sellers</a>
                    </li>
                    <li class="header-nav-modal-item">
                        <a class="header-nav-modal-link" href="#Chocolate-is-loved">Chocolate is loved</a>
                    </li>
                </ul>
            </nav>
            <ul class="header-soc-modal-list">
                <li class="header-soc-modal-item">
                    <a class="header-soc-modal-link" href="https://www.instagram.com/" target="_blank" title="Instagram">
                        <svg class="header-soc-modal-icon">
                            <use class="header-soc-modal-use" href="./img/icons.svg#instagram"></use>
                        </svg>
                    </a>
                </li>
                <li class="header-soc-modal-item">
                    <a class="header-soc-modal-link" href="https://twitter.com/" target="_blank" title="Twitter">
                        <svg class="header-soc-modal-icon">
                            <use href="./img/icons.svg#twitter"></use>
                        </svg>
                    </a>
                </li>
            </ul>
            </div>
        </div>


    </div>
    </header>
