<!-- Svitlana -->
<header class="header">
    <div class="header-container container">
        <a class="header-logo" href="../index.html">
            <span class="header-logo-select">SIMPLY&nbsp;</span>CHOCOLATE</a>
        <nav class="header-nav">
            <ul class="header-nav-list">
                <Li class="header-nav-item">
                    <a class="header-nav-link" href="">Home</a>
                </Li>
                <li class="header-nav-item">
                    <a class="header-nav-link" href="">How it’s made?</a>
                </li>
                <li class="header-nav-item">
                    <a class="header-nav-link" href="">Our products</a>
                </li>
                <li class="header-nav-item">
                    <a class="header-nav-link" href="">Top sellers</a>
                </li>
                <li class="header-nav-item">
                    <a class="header-nav-link" href="">Chocolate is loved</a>
                </li>
            </ul>          
        </nav>
        <ul class="header-soc-list">
            <li class="header-soc-item">
                <a class="header-soc-link" href="">
                    <svg class="header-soc-svg" width="24" height="24">
                        <use></use>
                    </svg>
                </a>
            </li>
            <li class="header-soc-item">
                <a class="header-soc-link" href="">
                    <svg class="header-soc-svg" width="24" height="24">
                        <use></use>
                    </svg>
                </a>
            </li>
        </ul>

        <button type="button" class="header-btn-ham">
            <svg class="header-btn-ham-svg" width="28" height="28">
                <use></use>
            </svg>
        </button>
    </div>
    </header>
