<section class="section hero" id="hero">
    <div class="container">
        <h1 class="visually-hidden">Hero</h1>
        <div class="hero-img">
            <div class="hero-blocks">
                <h2 class="hero-blocks-text">Treat yourself or a loved one to our finest ingredients for a moment of
                    pure
                    delight!</h2>
                <div class="hero-btnsscroll">
                    <div class="hero-btnsscroll-btns">
                        <button type="button" class="btnsscroll-btns-click-buy" data-modal-open>Buy now</button>
                        <a href="#how-its-made" class="btnsscroll-btns-section">How it's made</a>
                    </div>
                    <div class="hero-btnsscroll-btn">
                        <p class="btnsscroll-btn-scroll-text">scroll down</p>
                        <a href="#footer" class="scroll-down-link">
                            <svg class="scroll-down-link-icon">
                                <use href="/img/icons.svg#scroll"></use>
                            </svg>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>