
<section class="section hero" id="hero">
    <div class="container">
        <h1 class="visually-hidden" >Hero</h1>
        <div class="img-hero">
            <div class="blocks">
                <h2 class="blocks-text">Treat yourself or a loved one to our finest ingredients for a moment of pure delight!</h2>
                <div class="btns">
                    <button type="button" class="click-buy">Buy now</button>
                    <a href="#how-its-made" class="scroll-section">How it's made</a>
                </div>
                <div class="scroll">
                    <p class="scroll-text">scroll down</p>
                    <a href="#footer" class="scroll-down">
                        <svg class="scroll-down-icon">
                            <use href="../img/icons.svg#icon-down"></use>
                        </svg>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>
