<section class="how-container" id="how-its-made">
  <h2 class="how-titel">hOW IT’S <span class="how-titel-color">made?</span></h2>
  <div class="how-box-desk">
    <div onclick="playVideo()" class="video-container">
      <picture>
        <source
          srcset="
            /img/how-its-made/job-mob.jpg    1x,
            /img/how-its-made/job-mob-2x.jpg 2x
          "
          media="(max-width: 767px)"
        />
        <source
          srcset="
            /img/how-its-made/job-tabl.jpg    1x,
            /img/how-its-made/job-tabl-2x.jpg 2x
          "
          media="(min-width: 768px)"
        />
        <source
          srcset="
            /img/how-its-made/job-desk.jpg    1x,
            /img/how-its-made/job-desk-2x.jpg 2x
          "
          media="(min-width: 1199px)"
        />
        <img
          src="/img/how-its-made/job-mob.jpg"
          alt="preparation"
          class="how-img"
        />
      </picture>
      <button type="button" class="how-btm">
        <svg class="how-icon">
          <use href="./img/icons.svg#icon-play"></use>
        </svg>
      </button>
    </div>
    <div class="how-box">
      <p class="how-text">
        Try our chocolates today and discover the perfect balance of flavor
      </p>
      <ul class="how-list">
        <li class="how-text-list how-text-desk">
          Heat the milk in a saucepan without bringing it to a boil. Add sugar
          and cocoa powder.
        </li>
        <li class="how-text-list">
          At the same time, prepare a water bath. Melt the butter on it.
        </li>
        <li class="how-text-list">
          "Mix" the milk mixture and already liquid butter. Mix thoroughly with
          a silicone spatula so that the mass becomes uniform and silky.
        </li>
        <li class="how-text-list">
          Heat the mixture over low heat, letting it barely boil.
        </li>
        <li class="how-text-list">
          Pour the chocolate into special containers (can be replaced with ice
          molds). Allow to cool and harden.
        </li>
      </ul>
    </div>
  </div>
</section>
