<!-- Svitlana -->
<div class="modal-feedback-backdrop js-feedback">
    <div class="modal-feedback-container">
        <button class="modal-thank-close-btn js-close-feedback" type="button">
            <svg class="modal-thank-icon">
                <use href="./img/icons.svg#close-btn"></use>
            </svg>
        </button>
        <h2 class="modal-thank-title">thank you <br>
        for your feedback!</h2>
        <p class="modal-feedback-text">We are so happy to hear
        from you!</p>
    </div>
</div>