<!-- Svitlana -->
<div class="modal-thank-backdrop js-thank" >
    <div class="modal-thank-container">
        <button class="modal-thank-close-btn js-close-modal-thank" type="button" >
            <svg class="modal-thank-icon">
                <use href="./img/icons.svg#close-btn"></use>
            </svg>
        </button>
        <h2 class="modal-thank-title">thank you!</h2>
        <p class="modal-thank-text">We are glad that you ordered our chocolate and we are giving you a <span class="modal-thank-select">20%</span>  discount on all our products.</p> 
    </div>
</div>

