<div class="subscribe-backdrop is-hidden js-subscribe">
  <div class="modal-subscribe">
    <button
      class="modal-subscribe-close-button js-close-modal-subscribe"
      type="button"
      aria-label="close subscribe modal window"
    >
      <svg class="modal-subscribe-close-icon" width="24" height="24">
        <use href="/img/icons.svg#close-btn"></use>
      </svg>
    </button>
    <div class="modal-subscribe-image"></div>
    <div class="modal-subscribe-wrap">
      <h2 class="modal-subscribe-title">
        Explore our <br /><span>new chocolate</span> first!
      </h2>
      <form class="modal-subscribe-form">
        <input
          class="modal-subscribe-input-field"
          type="email"
          name="user-email"
          aria-label="user-email"
          placeholder="Enter your email"
          required
        />
        <button class="modal-subscribe-submit-button" type="submit">
          Submit
        </button>
      </form>
    </div>
  </div>
</div>
