<section class="Our-products">
  <div class="container section">
    <h2>OUR PRODUCTS</h2>
    <ul>
      <li>
        <img
          src="/img/our-products/orange.jpg"
          srcset="
            /img/our-products/orange.jpg 1x,
            /img/our-products/orange-2x.jpg 2x
          "
          alt="orange"
          width="230"
          height="201"
        />
        <h3>ORANGE</h3>
        <p>Dark chocolate</p>
        <button class="btn-price" type="button">45 UAH</button>
      </li>
      <li>
        <img
          src="/img/our-products/apple.jpg"
          srcset="
            /img/our-products/apple.jpg 1x,
            /img/our-products/apple-2x.jpg 2x
          "
          alt="applecarnberry"
          width="230"
          height="201"
        />
        <h3>APPLE&cRANBERRY</h3>
        <p>Milk chocolate</p>
        <button class="btn-price" type="button">50 UAH</button>
      </li>
      <li>
        <img
          src="/img/our-products/lime.jpg"
          srcset="
            /img/our-products/lime.jpg 1x,
            /img/our-products/lime-2x.jpg 2x
          "
          alt="limeseasalt"
          width="230"
          height="201"
        />
        <h3>LIME&SALT</h3>
        <p>Dark chocolate</p>
        <button class="btn-price" type="button">66 UAH</button>
      </li>
      <li>
        <img
          src="/img/our-products/pineapple.jpg"
          srcset="
            /img/our-products/pineapple.jpg 1x,
            /img/our-products/pineapple-2x.jpg 2x
          "
          alt="pineaplle"
          width="230"
          height="201"
        />
        <h3>PINEAPPLE</h3>
        <p>Dark chocolate</p>
        <button class="btn-price" type="button">54 UAH</button>
      </li>
      <li>
        <img
          src="/img/our-products/classic-milk.jpg"
          srcset="
            /img/our-products/classic-milk.jpg 1x,
            /img/our-products/classic-milk-2x.jpg 2x
          "
          alt="classic-milk"
          width="230"
          height="201"
        />
        <h3>CLASSIC</h3>
        <p>Milk chocolate</p>
        <button class="btn-price" type="button">45 UAH</button>
      </li>
      <li>
        <img
          src="/img/our-products/honey.jpg"
          srcset="
            /img/our-products/honey.jpg 1x,
            /img/our-products/honey-2x.jpg 2x
          "
          alt="honey"
          width="230"
          height="201"
        />
        <h3>HONEY</h3>
        <p>Milk chocolate</p>
        <button class="btn-price" type="button">50 UAH</button>
      </li>
      <li>
        <img
          src="/img/our-products/roasted.jpg"
          srcset="
            /img/our-products/roasted.jpg 1x,
            /img/our-products/roasted-2x.jpg 2x
          "
          alt="roastedfruits"
          width="230"
          height="201"
        />
        <h3>ROASTED FRUITS</h3>
        <p>Dark chocolate</p>
        <button class="btn-price" type="button">66 UAH</button>
      </li>
      <li>
        <img
          src="/img/our-products/classic-white.jpg"
          srcset="
            /img/our-products/classic-white.jpg 1x,
            /img/our-products/classic-white-2x.jpg 2x
          "
          alt="classic-white"
          width="230"
          height="201"
        />
        <h3>CLASSIC</h3>
        <p>White chocolate</p>
        <button class="btn-price" type="button">54 UAH</button>
      </li>
    </ul>
  </div>
</section>
