<section id="Our-products" class="section our-products">
  <div class="container container-products">
    <h2 class="products-main">
      Our
      <span class="products-mainsecond">Products</span>
    </h2>
    <div class="swiper">
      <ul class="products-list swiper-wrapper">
        <li class="products-list-item swiper-slide">
          <div class="position">
            <img src="/img/our-products/orange.jpg" srcset="
                      /img/our-products/orange.jpg    1x,
                      /img/our-products/orange-2x.jpg 2x
                    " alt="orange" width="230" height="201" />
          </div>
          <div class="choco-unit">
            <h3 class="products-title">ORANGE</h3>
            <p class="products-description">Dark chocolate</p>
            <button class="btn-price" type="button">45 UAH</button>
          </div>
        </li>
        <li class="products-list-item swiper-slide">
          <div class="position">
            <img src="/img/our-products/apple.jpg" srcset="
                      /img/our-products/apple.jpg    1x,
                      /img/our-products/apple-2x.jpg 2x
                    " alt="applecarnberry" width="230" height="201" />
          </div>
          <div class="choco-unit">
            <h3 class="products-title">APPLE&CRANBERRY</h3>
            <p class="products-description">Milk chocolate</p>
            <button class="btn-price" type="button">50 UAH</button>
          </div>
        </li>
        <li class="products-list-item swiper-slide">
          <div class="position">
            <img src="/img/our-products/lime.jpg" srcset="
                      /img/our-products/lime.jpg    1x,
                      /img/our-products/lime-2x.jpg 2x
                    " alt="limeseasalt" width="230" height="201" />
          </div>
          <div class="choco-unit">
            <h3 class="products-title">LIME&SALT</h3>
            <p class="products-description">Dark chocolate</p>
            <button class="btn-price" type="button">66 UAH</button>
        </li>
        <li class="products-list-item swiper-slide">
          <div class="position">
            <img src="../img/our-products/pineapple.jpg" srcset="
            /img/our-products/pineapple.jpg    1x,
            /img/our-products/pineapple-2x.jpg 2x
          " alt="pineaplle" width="230" height="201" />
          </div>
          <div class="choco-unit">
            <h3 class="products-title">PINEAPPLE</h3>
            <p class="products-description">Dark chocolate</p>
            <button class="btn-price" type="button">54 UAH</button>
          </div>
        </li>
        <li class="products-list-item swiper-slide">
          <div class="position">
            <img src="/img/our-products/classic-milk.jpg" srcset="
                      /img/our-products/classic-milk.jpg    1x,
                      /img/our-products/classic-milk-2x.jpg 2x
                    " alt="classic-milk" width="230" height="201" />
          </div>
          <div class="choco-unit">
            <h3 class="products-title">CLASSIC</h3>
            <p class="products-description">Milk chocolate</p>
            <button class="btn-price" type="button">45 UAH</button>
          </div>
        </li>
        <li class="products-list-item swiper-slide">
          <div class="position">
            <img src="/img/our-products/honey.jpg" srcset="
                      /img/our-products/honey.jpg    1x,
                      /img/our-products/honey-2x.jpg 2x
                    " alt="honey" width="230" height="201" />
          </div>
          <div class="choco-unit">
            <h3 class="products-title">HONEY</h3>
            <p class="products-description">Milk chocolate</p>
            <button class="btn-price" type="button">50 UAH</button>
          </div>
        </li>
        <li class="products-list-item swiper-slide">
          <div class="position">
            <img src="/img/our-products/roasted.jpg" srcset="
                  /img/our-products/roasted.jpg    1x,
                  /img/our-products/roasted-2x.jpg 2x
                " alt="honey" width="230" height="201" />
          </div>
          <div class="choco-unit">
            <h3 class="products-title">ROASTED FRUITS</h3>
            <p class="products-description">Dark chocolate</p>
            <button class="btn-price" type="button">66 UAH</button>
          </div>
        </li>
        <li class="products-list-item swiper-slide">
          <div class="position">
            <img src="/img/our-products/classic-white.jpg" srcset="
                /img/our-products/classic-white.jpg    1x,
                /img/our-products/classic-white-2x.jpg 2x
              " alt="classicwhite" width="230" height="201" />
          </div>
          <div class="choco-unit">
            <h3 class="products-title">CLASSIC</h3>
            <p class="products-description">White chocolate</p>
            <button class="btn-price" type="button">54 UAH</button>
          </div>
      </ul>
      <!-- If we need pagination -->
      <div class="swiper-pagination"></div>
      <!-- If need scrollbar -->
      <!-- <div class="swiper-scrollbar"></div> -->
    </div>
  </div>
</section>