<section class="our-products section" id="our-products">
  <div class="container">
    <h2 class="products-main">
      Our
      <span class="products-mainsecond">Products</span>
    </h2>
    <ul class="products-list our-products-slider">
      <li class="products-item swiper-slide">
        <div class="products-thumb">
          <picture>
            <source
              type="image/webp"
              srcset="
                /img/our-products/orange.webp    1x,
                /img/our-products/orange-2x.webp 2x
              "
            />
            <img
              src="/img/our-products/orange.jpg"
              srcset="
                /img/our-products/orange.jpg    1x,
                /img/our-products/orange-2x.jpg 2x
              "
              alt="orange"
              width="230"
              height="201"
            />
          </picture>
        </div>
        <div class="choco-unit">
          <h3 class="products-title">Orange</h3>
          <p class="products-description">Dark chocolate</p>
          <button class="btn-price" type="button">45 UAH</button>
        </div>
      </li>
      <li class="products-item swiper-slide">
        <div class="products-thumb">
          <picture>
            <source
              type="image/webp"
              srcset="
                /img/our-products/apple.webp    1x,
                /img/our-products/apple-2x.webp 2x
              "
            />
            <img
              src="/img/our-products/apple.jpg"
              srcset="
                /img/our-products/apple.jpg    1x,
                /img/our-products/apple-2x.jpg 2x
              "
              alt="applecarnberry"
              width="230"
              height="201"
            />
          </picture>
        </div>
        <div class="choco-unit">
          <h3 class="products-title">Apple&Cranberry</h3>
          <p class="products-description">Milk chocolate</p>
          <button class="btn-price" type="button">50 UAH</button>
        </div>
      </li>
      <li class="products-item swiper-slide">
        <div class="products-thumb">
          <picture>
            <source
              type="image/webp"
              srcset="
                /img/our-products/lime.webp    1x,
                /img/our-products/lime-2x.webp 2x
              "
            />
            <img
              src="/img/our-products/lime.jpg"
              srcset="
                /img/our-products/lime.jpg    1x,
                /img/our-products/lime-2x.jpg 2x
              "
              alt="limeseasalt"
              width="230"
              height="201"
            />
          </picture>
        </div>
        <div class="choco-unit">
          <h3 class="products-title">Lime&Salt</h3>
          <p class="products-description">Dark chocolate</p>
          <button class="btn-price" type="button">66 UAH</button>
        </div>
      </li>
      <li class="products-item swiper-slide">
        <div class="products-thumb">
          <picture>
            <source
              type="image/webp"
              srcset="
                /img/our-products/pineapple.webp    1x,
                /img/our-products/pineapple-2x.webp 2x
              "
            />
            <img
              src="../img/our-products/pineapple.jpg"
              srcset="
                /img/our-products/pineapple.jpg    1x,
                /img/our-products/pineapple-2x.jpg 2x
              "
              alt="pineaplle"
              width="230"
              height="201"
            />
          </picture>
        </div>
        <div class="choco-unit">
          <h3 class="products-title">Pineapple</h3>
          <p class="products-description">Dark chocolate</p>
          <button class="btn-price" type="button">54 UAH</button>
        </div>
      </li>
      <li class="products-item swiper-slide">
        <div class="products-thumb">
          <picture>
            <source
              type="image/webp"
              srcset="
                /img/our-products/classic-milk.webp    1x,
                /img/our-products/classic-milk-2x.webp 2x
              "
            />
            <img
              src="/img/our-products/classic-milk.jpg"
              srcset="
                /img/our-products/classic-milk.jpg    1x,
                /img/our-products/classic-milk-2x.jpg 2x
              "
              alt="classic-milk"
              width="230"
              height="201"
            />
          </picture>
        </div>
        <div class="choco-unit">
          <h3 class="products-title">Classic</h3>
          <p class="products-description">Milk chocolate</p>
          <button class="btn-price" type="button">45 UAH</button>
        </div>
      </li>
      <li class="products-item swiper-slide">
        <div class="products-thumb">
          <picture>
            <source
              type="image/webp"
              srcset="
                /img/our-products/honey.webp    1x,
                /img/our-products/honey-2x.webp 2x
              "
            />
            <img
              src="/img/our-products/honey.jpg"
              srcset="
                /img/our-products/honey.jpg    1x,
                /img/our-products/honey-2x.jpg 2x
              "
              alt="honey"
              width="230"
              height="201"
            />
          </picture>
        </div>
        <div class="choco-unit">
          <h3 class="products-title">Honey</h3>
          <p class="products-description">Milk chocolate</p>
          <button class="btn-price" type="button">50 UAH</button>
        </div>
      </li>
      <li class="products-item swiper-slide">
        <div class="products-thumb">
          <picture>
            <source
              type="image/webp"
              srcset="
                /img/our-products/roasted.webp    1x,
                /img/our-products/roasted-2x.webp 2x
              "
            />
            <img
              src="/img/our-products/roasted.jpg"
              srcset="
                /img/our-products/roasted.jpg    1x,
                /img/our-products/roasted-2x.jpg 2x
              "
              alt="honey"
              width="230"
              height="201"
            />
          </picture>
        </div>
        <div class="choco-unit">
          <h3 class="products-title">Roasted Fruits</h3>
          <p class="products-description">Dark chocolate</p>
          <button class="btn-price" type="button">66 UAH</button>
        </div>
      </li>
      <li class="products-item swiper-slide">
        <div class="products-thumb">
          <picture>
            <source
              type="image/webp"
              srcset="
                /img/our-products/classic-white.webp    1x,
                /img/our-products/classic-white-2x.webp 2x
              "
            />
            <img
              src="/img/our-products/classic-white.jpg"
              srcset="
                /img/our-products/classic-white.jpg    1x,
                /img/our-products/classic-white-2x.jpg 2x
              "
              alt="classicwhite"
              width="230"
              height="201"
            />
          </picture>
        </div>
        <div class="choco-unit">
          <h3 class="products-title">Classic</h3>
          <p class="products-description">White chocolate</p>
          <button class="btn-price" type="button">54 UAH</button>
        </div>
      </li>
    </ul>
  </div>
</section>
