<section id="Chocolate is loved" class="section reviews">
    <div class="container container-reviews">
        <h2><span>chocolate</span> is loved</h2>
        <div class="swiper">
            <ul class="list-reviews swiper-wrapper">
                <li class="item-reviews swiper-slide">
                    <div class="position">
                        <img srcset="/img/reviews/victoria@2x.png 2x" src="/img/reviews/victoria.png" alt="img Victoria Dobrzhanska">
                        <h3>Victoria Dobrzhanska</h3>
                    </div>
                    <p>I love this chocolate bar. Perfect combination of light crispy wafer, covered in a thin layer chocolate.</p>
                </li>
                <li class="item-reviews swiper-slide">
                    <div class="position">
                        <img srcset="/img/reviews/nazar@2x.png 2x" src="/img/reviews/nazar.png" alt="img Nazar Babenko">
                        <h3>Nazar Babenko</h3>
                    </div>
                    <p>This chocolate confection is a delight! A delight! The wafer is light and crisp, the hazelnut cream is smooth, and the chocolate is good.</p>
                </li>
                <li class="item-reviews swiper-slide">
                    <div class="position">
                        <img srcset="/img/reviews/olena@2x.png 2x" src="/img/reviews/olena.png" alt="img Olena Kampusch">
                        <h3>Olena Kampusch</h3>
                    </div>
                    <p> Chocolate is a family favourite treat. Love the delicious smooth chocolate and the creaminess inside. The wafer is soft but crunchy.</p>
                </li>
                <li class="item-reviews swiper-slide">
                    <div class="position">
                        <img srcset="/img/reviews/natalia@2x.png 2x" src="/img/reviews/natalia.png" alt="img Natalia Sus">
                        <h3>Natalia Sus</h3>
                    </div>
                    <p>The chocolate assortment was delicious. Both dark and milk chocolate pieces were smooth and just right on the sweetness level. </p>
                </li>
                <li class="item-reviews swiper-slide">
                    <div class="position">
                        <img srcset="/img/reviews/danilo@2x.png 2x" src="/img/reviews/danilo.png" alt="img Danilo Nottingham">
                        <h3>Danilo Nottingham</h3>
                    </div>
                    <p>This is delicious. It so rich and flavorful you don&#39;t need to use as many. I love topping an apple with almond butter and these chips for a snack.</p>
                </li>
                <li class="item-reviews swiper-slide">
                    <div class="position">
                        <img srcset="/img/reviews/irina@2x.png 2x" src="/img/reviews/irina.png" alt="img Irina Tydnyuk">
                        <h3>Irina Tydnyuk</h3>
                    </div>
                    <p>This is simply the best chocolate around, and I'm just thrilled to support a local company! Best local chocolate - world class :&#41;</p>
                </li>
            </ul>
            <!-- If we need pagination -->
            <div class="swiper-pagination"></div>
        </div>
        <button type="button" class="button-review">Leave a review</button>
    </div>
</section>
