<section class="top-sellers section" id="top-sellers">
  <div class="container">
    <h1 class="top-sellers-title"><span>Top</span> sellers</h1>
    <div class="top-sellers-wrap">
      <ul class="top-sellers-list">
        <li class="top-sellers-item">
          <div class="thumb">
            <picture class="top-sellers-img">
              <source
                type="image/webp"
                srcset="
                  /img/top-sellers/top-sellers1-desk.webp    1x,
                  /img/top-sellers/top-sellers1-desk-2x.webp 2x
                "
                media="(min-width: 1200px)"
              />
              <source
                srcset="
                  /img/top-sellers/top-sellers1-desk.jpeg    1x,
                  /img/top-sellers/top-sellers1-desk-2x.jpeg 2x
                "
                media="(min-width: 1200px)"
              />
              <source
                type="image/webp"
                srcset="
                  /img/top-sellers/top-sellers1-tab.webp    1x,
                  /img/top-sellers/top-sellers1-tab-2x.webp 2x
                "
                media="(min-width: 768px)"
              />
              <source
                srcset="
                  /img/top-sellers/top-sellers1-tab.jpeg    1x,
                  /img/top-sellers/top-sellers1-tab-2x.jpeg 2x
                "
                media="(min-width: 768px)"
              />
              <source
                type="image/webp"
                srcset="
                  /img/top-sellers/top-sellers1-mob.webp    1x,
                  /img/top-sellers/top-sellers1-mob-2x.webp 2x
                "
                media="(max-width: 767px)"
              />
              <source
                srcset="
                  /img/top-sellers/top-sellers1-mob.jpeg    1x,
                  /img/top-sellers/top-sellers1-mob-2x.jpeg 2x
                "
                media="(max-width: 767px)"
              />
              <img
                src="/img/top-sellers/top-sellers1-mob.jpeg"
                alt="chocolate and coffee"
              />
            </picture>
          </div>
          <p class="top-sellers-item-text">
            Crazy enough chocolate originates from a bean just like the coffee
            bean called Cacao. Cacao has been around for thousands of years and
            was first discovered by the Native American tribe called the Mayans.
          </p>
        </li>
        <li class="top-sellers-item">
          <div class="thumb">
            <picture class="top-sellers-img">
              <source
                type="image/webp"
                srcset="
                  /img/top-sellers/top-sellers2-desk.webp    1x,
                  /img/top-sellers/top-sellers2-desk-2x.webp 2x
                "
                media="(min-width: 1200px)"
              />
              <source
                srcset="
                  /img/top-sellers/top-sellers2-desk.jpeg    1x,
                  /img/top-sellers/top-sellers2-desk-2x.jpeg 2x
                "
                media="(min-width: 1200px)"
              />
              <source
                type="image/webp"
                srcset="
                  /img/top-sellers/top-sellers2-tab.webp    1x,
                  /img/top-sellers/top-sellers2-tab-2x.webp 2x
                "
                media="(min-width: 768px)"
              />
              <source
                srcset="
                  /img/top-sellers/top-sellers2-tab.jpeg    1x,
                  /img/top-sellers/top-sellers2-tab-2x.jpeg 2x
                "
                media="(min-width: 768px)"
              />
              <source
                type="image/webp"
                srcset="
                  /img/top-sellers/top-sellers2-mob.webp    1x,
                  /img/top-sellers/top-sellers2-mob-2x.webp 2x
                "
                media="(max-width: 767px)"
              />
              <source
                srcset="
                  /img/top-sellers/top-sellers2-mob.jpeg    1x,
                  /img/top-sellers/top-sellers2-mob-2x.jpeg 2x
                "
                media="(max-width: 767px)"
              />
              <img
                src="/img/top-sellers/top-sellers2-desk.jpeg"
                alt="chocolate and coffee"
              />
            </picture>
          </div>
        </li>
        <li class="top-sellers-item">
          <div class="thumb">
            <picture class="top-sellers-img">
              <source
                type="image/webp"
                srcset="
                  /img/top-sellers/top-sellers3-desk.webp    1x,
                  /img/top-sellers/top-sellers3-desk-2x.webp 2x
                "
                media="(min-width: 1200px)"
              />
              <img
                srcset="
                  /img/top-sellers/top-sellers3-desk.jpeg    1x,
                  /img/top-sellers/top-sellers3-desk-2x.jpeg 2x
                "
                src="/img/top-sellers/top-sellers3-mob.jpeg"
                alt="chocolate and coffee"
              />
            </picture>
          </div>
        </li>
      </ul>
      <div class="text-button-wrap">
        <p class="top-sellers-text">
          Crazy enough chocolate originates from a bean just like the coffee
          bean called Cacao. Cacao has been around for thousands of years and
          was first discovered by the Native American tribe called the Mayans.
        </p>
        <button
          class="top-sellers-btn btnsscroll-btns-click-buy js-open-menu-buy-top-sellers"
          type="button"
        >
          Buy now
        </button>
      </div>
    </div>
  </div>
</section>
