/* ____Svitlana_____ */
.header {
  padding-top: 20px;
  padding-bottom: 14px;
}
.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header-logo {
  display: flex;
  align-items: center;
  font-weight: 700;
  letter-spacing: -0.03em;
  color: var(--main-color);
}
.header-logo-select {
  font-style: italic;
}
.header-logo-svg-choc {
  margin-left: 4px;
  width: 21px;
  height: 21px;
  stroke: var(--accent-color);
  fill: transparent;
}
.header-nav-list {
  display: flex;
  gap: 24px;
}
.header-nav-link {
  display: block;
  padding-top: 24px;
  padding-bottom: 32px;
  font-weight: 500;
  line-height: 1.14;
  color: var(--main-color);
}
.header-nav-link:hover,
.header-nav-link:focus {
  color: var(--accent-color);
}
.header-soc-list {
  display: flex;
  gap: 18px;
}
.header-soc-link {
  width: 100%;
  display: inline-block;
}

.header-soc-icon {
  stroke: var(--text-main-color);
  fill: var(--background-secondary-color);
}
.header-soc-link:hover .header-soc-icon,
.header-soc-link:focus .header-soc-icon {
  stroke: var(--accent-color);
}

.header-btn-ham {
  padding: 0;

  border: none;
  background-color: transparent;
}
.header-btn-ham-svg {
  display: block;
  width: 28px;
  height: 28px;
  stroke: var(--text-main-color);
}

@media screen and (min-width: 768px) {
  .header {
    padding-top: 24px;
    padding-bottom: 24px;
  }
  .header-btn-ham-svg {
    width: 32px;
    height: 32px;
  }
}
@media screen and (max-width: 1199px) {
  .header-nav {
    display: none;
  }
  .header-soc-list {
    display: none;
  }
}
@media screen and (min-width: 1200px) {
  .header-btn-ham-svg {
    display: none;
  }

  .header {
    padding-top: 0;
    padding-bottom: 0;
  }

  .header-logo {
    font-size: 18px;
    line-height: 1.11;
  }

  .header-btn-ham {
    display: none;
  }

  .header-logo-svg-choc {
    width: 24px;
    height: 24px;
  }
}

/* HEDER-MODAL-MENU  */
.header-modal-menu {
  position: fixed;
  width: 59%;
  height: 100%;
  z-index: 1000;
  top: 0;
  right: 0;
  background-color: var(--background-dark-color);
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transform: translate(100%);
  transition: transform 1.5s;
  overflow-y: auto;
}
.header-modal-menu.is-open {
  opacity: 1;
  transform: translateZ(0);
  transition: transform 1s;

  visibility: visible;
  pointer-events: auto;
}

.header-modal-menu-container {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 136px;
  padding-bottom: 20px;
}
.header-btn-close {
  position: absolute;
  top: 20px;
  right: 20px;
  padding: 0;
  border: none;
  background-color: transparent;
  transition: transform var(--hover-transition), stroke var(--hover-transition);
}
.header-btn-close:hover .heder-close-icon,
.header-btn-close:focus .heder-close-icon {
  transform: scale(1.43);
  stroke: var(--accent-color);
}
.heder-close-icon {
  display: block;
  width: 28px;
  height: 28px;

  stroke: var(--background-secondary-color);
}
.header-nav-modal {
  align-self: center;
}
.header-nav-modal-list {
  display: flex;
  flex-direction: column;
  gap: 24px;
}
.header-nav-modal-link {
  font-weight: 500;
  line-height: 1.14;
  color: var(--background-secondary-color);
  transition: color var(--hover-transition);
}
.header-nav-modal-link:hover,
.header-nav-modal-link:focus {
  color: var(--accent-color);
}
.header-soc-modal-list {
  display: flex;
  gap: 18px;
}
.header-soc-modal-link {
  display: block;
  width: 100%;
  transition: color var(--hover-transition);
}
.header-soc-modal-link:hover .header-soc-modal-icon,
.header-soc-modal-link:focus .header-soc-modal-icon {
  stroke: var(--accent-color);
}
.header-soc-modal-icon {
  display: block;
  width: 22px;
  height: 22px;
  stroke: var(--background-secondary-color);
}

@media screen and (min-width: 768px) {
  .header-modal-menu {
    width: 38%;
  }
  .header-modal-menu-container {
    padding-left: 32px;
    padding-top: 156px;
    padding-bottom: 24px;
  }
  .header-soc-modal-icon {
    width: 24px;
    height: 24px;
  }
  .header-btn-close {
    top: 24px;
    right: 32px;
  }
  .heder-close-icon {
    width: 32px;
    height: 32px;
  }
}
