.how-container {
  max-width: 375px;
  padding: 0 20px;
  margin: 0 auto;
}
.how-title {
  line-height: 1.2;
  color: var(--text-main-color);
}
.how-title-color {
  color: var(--accent-color);
}
.how-box {
  max-width: 335px;
  margin-top: 20px;
  padding: 20px 14px;
  background-color: var(--background-secondary-color);
  border-radius: 15px;
}
.how-text {
  font-weight: 600;
  font-size: 18px;
  line-height: 1.33;
  color: var(--text-main-color);
  max-width: 307px;
}
.how-list {
  padding-left: 0;
}
.how-text-list {
  position: relative;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.02em;
  color: var(--text-main-color);
  margin-top: 18px;
  margin-left: 16px;
}
.how-text-list::before {
  content: '';
  position: absolute;
  top: 5px;
  left: -12px;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: #4c4c4c;
  border: 1px solid #eceded;
}
.video-container {
  margin-top: 32px;
  position: relative;
  max-width: 335px;
  width: 100%;
  height: 500px;
  border-radius: 15px;
  display: inline-block;
  cursor: pointer;
}
.video-container iframe {
  max-width: 335px;
  width: 100%;
  height: 500px;
  border-radius: 15px;
}
.how-img {
  width: 100%;
  height: 100%;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4));
}
.how-btm {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  width: 35px;
  height: 35px;
  padding: 9px 7px 8px 12px;
  z-index: 3;
  border-radius: 50%;
  background-color: transparent;
  border: 1px solid var(--background-secondary-color);
  transition: transform var(--hover-transition);
}
.how-icon {
  width: 14px;
  height: 15px;
}
.video-container:is(:hover, :focus) .how-btm {
  transform: translate(-50%, -50%) scale(1.2);
}

@media screen and (min-width: 768px) {
  .how-container {
    max-width: 768px;
    padding: 0 77px;
  }
  .how-title {
    font-size: 24px;
    line-height: 1.17;
  }
  .how-box {
    max-width: 614px;
    padding: 32px;
  }
  .how-text {
    max-width: 350px;
  }
  .video-container {
    max-width: 614px;
    height: 400px;
  }
  .video-container iframe {
    max-width: 614px;
    height: 400px;
  }
  .how-icon {
    width: 20px;
    height: 21px;
  }
  .how-btm {
    width: 44px;
    height: 44px;
    padding: 11px 9px 11px 14px;
  }
}

@media screen and (min-width: 1200px) {
  .how-container {
    max-width: 1200px;
    padding: 0 32px;
  }
  .how-box-desk {
    margin-top: 50px;
    display: flex;
  }
  .video-container {
    margin-top: 0;
  }
  .how-box {
    margin-left: 20px;
    margin-top: 0;
    padding-bottom: 92px;
  }
  .how-text {
    margin: 0;
    margin-bottom: 28px;
  }
  .how-text-list {
    margin-top: 24px;
  }
  .how-text-desk {
    display: none;
  }
  .video-container {
    max-width: 600px;
  }
  .video-container iframe {
    max-width: 600px;
  }
}
