/* Svitlana  */
.modal-thank-backdrop,
.modal-feedback-backdrop {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10000;
  width: 100%;
  height: 100%;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;

  background-color: rgba(46, 47, 66, 0.4);
  transition: opacity var(--hover-transition);
}

.modal-thank-container,
.modal-feedback-container {
  position: relative;
  vertical-align: middle;
  width: 311px;
  max-height: 350px;
  padding: 84px 24px 170px 68px;
  transform: scale(0);
  border-radius: 15px;
  background-color: var(--accent-color);
  background-image: url(/img/modal/modal-thank-you/chocolate-mobil.png);
  background-repeat: no-repeat;
  background-position: bottom 0 left 0;
  background-size: 276px;

  transition: transform var(--hover-transition);
}
.modal-thank-backdrop.is-open,
.modal-feedback-backdrop.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

.modal-thank-backdrop.is-open .modal-thank-container,
.modal-feedback-backdrop.is-open .modal-feedback-container {
  transform: scale(1);
}

@media screen and (min-device-pixel-ratio: 2) and (max-width: 767px),
  screen and (min-resolution: 192dpi) and (max-width: 767px),
  screen and (min-resolution: 2dppx) and (max-width: 767px) {
  .modal-thank-container,
  .modal-feedback-container {
    background-image: url(/img/modal/modal-thank-you/chocolate-mobil@2x.png);
  }
}
.modal-thank-close-btn {
  position: absolute;
  top: 14px;
  right: 14px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 28px;
  height: 28px;

  padding: 0;
  border-radius: 50%;
  border: none;
}
.modal-thank-icon {
  display: block;
  width: 16px;
  height: 16px;
  stroke: #d44528;
}
.modal-thank-title {
  text-align: start;
  margin-bottom: 8px;
  line-height: 1.2;
  letter-spacing: -0.02em;
  color: var(--accent-hover-color);
}
.modal-thank-text {
  line-height: 1.14;
  color: var(--background-secondary-color);
}
.modal-thank-select {
  color: var(--accent-hover-color);
}

.modal-feedback-text {
  max-width: 198px;
  line-height: 1.14;
  color: var(--background-secondary-color);
}

@media screen and (min-width: 768px) {
  .modal-thank-container,
  .modal-feedback-container {
    width: 516px;
    max-height: 414px;
    padding: 154px 44px 154px 163px;
    background-image: url(/img/modal/modal-thank-you/chocolate-tablet.png);
    background-size: 282px;
  }
  .modal-thank-title {
    font-size: 24px;
    line-height: 1.17;
  }
  .modal-thank-text {
    font-size: 18px;
    line-height: 1.33;
  }
  .modal-thank-close-btn {
    top: 24px;
    right: 24px;
    width: 40px;
    height: 40px;
  }
  .modal-thank-icon {
    width: 22px;
    height: 22px;
  }
  .modal-thank-select {
    font-size: 24px;
    line-height: 1;
  }

  .modal-feedback-text {
    max-width: 299px;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.33;
  }

  @media screen and (min-device-pixel-ratio: 2),
    screen and (min-resolution: 192dpi),
    screen and (min-resolution: 2dppx) {
    .modal-thank-container,
    .modal-feedback-container {
      background-image: url(/img/modal/modal-thank-you/chocolate-tablet@2x.png);
    }
  }
}
