.subscribe-backdrop {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: var(--text-light-color);
  background-color: rgba(46, 47, 66, 0.7);
  z-index: 1000;
  transition: background-color var(--hover-transition);
}

.modal-subscribe {
  position: absolute;
  max-width: 311px;
  width: 100%;
  max-height: 90vh;
  overflow-y: scroll;
  margin: auto;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  border-radius: 15px;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 2px 1px rgba(0, 0, 0, 0.2);

  transition: transform var(--hover-transition);
}

.modal-subscribe-close-button {
  position: absolute;
  top: 14px;
  right: 14px;
  padding: 0;
  display: flex;
  width: 24px;
  height: 24px;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  color: var(--background-secondary-color);
  background-color: transparent;
  border-radius: 50%;

  transition: color var(--hover-transition);
}

.modal-subscribe-close-icon {
  stroke: currentColor;
}

.modal-subscribe-close-button:is(:hover, :focus) {
  color: var(--accent-color);
}

.modal-subscribe-image {
  display: block;
  width: 311px;
  height: 169px;
  background-image: url(/img/modal/modal-subscribe/subscribe-mobile.jpg);
  background-color: var(--background-dark-color);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.modal-subscribe-wrap {
  padding: 32px 24px;
  background-color: var(--background-main-color);
}

.modal-subscribe-title {
  margin-bottom: 24px;

  line-height: 1.2;
  text-align: left;
}

.modal-subscribe-title > span {
  color: var(--accent-color);
}

.modal-subscribe-form {
  position: relative;
}

.modal-subscribe-input-field {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 14px 18px;
  gap: 40px;
  width: 100%;
  height: 45px;

  font-size: 14px;
  line-height: 1.21;
  letter-spacing: -0.02em;
  color: var(--text-main-color);

  background-color: inherit;
  border: 2px solid rgba(17, 17, 17, 0.05);
  filter: drop-shadow(0px 5.44492px 5.44492px rgba(0, 0, 0, 0.03));
  border-radius: 25px;
}

.modal-subscribe-input-field::placeholder {
  line-height: 1.22;

  color: rgba(64, 64, 64, 0.3);
}

.modal-subscribe-submit-button {
  position: absolute;
  top: 0;
  right: 0;
  padding: 14px 22px;

  font-size: 14px;
  font-weight: 600;
  color: var(--background-secondary-color);

  background-color: var(--accent-color);
  border-radius: 50px;

  transition: color var(--hover-transition),
    background-color var(--hover-transition);
}

.modal-subscribe-submit-button:is(:hover, :focus) {
  color: var(--accent-color);
  background-color: var(--accent-hover-color);
}

@media screen and (max-width: 767px) {
  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .modal-subscribe-image {
      background-image: url(/img/modal/modal-subscribe/subscribe-mobile@2x.jpg);
    }
  }
}

@media screen and (min-width: 768px) {
  .modal-subscribe {
    max-width: 538px;
  }

  .modal-subscribe-image {
    width: 538px;
    height: 196px;
    background-image: url(/img/modal/modal-subscribe/subscribe-tablet.jpg);
  }

  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .modal-subscribe-image {
      background-image: url(/img/modal/modal-subscribe/subscribe-tablet@2x.jpg);
    }
  }

  .modal-subscribe-wrap {
    padding: 40px;
  }

  .modal-subscribe-form {
    display: flex;
    align-items: center;
    gap: 8px;
  }

  .modal-subscribe-input-field {
    height: 52px;
    font-size: 16px;
  }

  .modal-subscribe-input-field::placeholder {
    font-size: 18px;
  }

  .modal-subscribe-submit-button {
    position: relative;
    padding: 17px 40px;
  }
}
