.products-main {
  margin-bottom: 32px;
  font-weight: 600;
  font-size: 24px;
  line-height: 28px;
  text-align: center;
  letter-spacing: -0.03em;
  text-transform: uppercase;
  color: var(--text-main-color);
}

.products-mainsecond {
  color: var(--accent-color);
}

.our-products-slider .slick-list {
  margin-bottom: 20px;
  overflow: hidden;
}

.our-products-slider .slick-track {
  display: flex;
  gap: 18px;
  max-width: 100%;
}

.our-products-slider .slick-dots {
  max-width: 210px;
}

.products-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
  max-width: 335px;
  padding: 32px 50px;
  background: var(--background-secondary-color);
  border: 1px solid rgba(17, 17, 17, 0.1);
  border-radius: 15px;
}

.products-title {
  font-weight: 600;
  font-size: 18px;
  line-height: 1.33;
  text-transform: uppercase;
  text-align: center;
}

.products-description {
  font-size: 12px;
  line-height: 1.17;
  color: rgba(17, 17, 17, 0.7);
  text-align: center;
  margin-bottom: 18px;
}

.btn-price {
  display: block;
  margin: 0 auto;
  font-weight: 600;
  line-height: 1.22;
  padding: 8px 20px;
  color: var(--text-main-color);
  height: 33px;
  background: var(--background-main-color);
  border: 1px solid rgba(17, 17, 17, 0.1);
  border-radius: 100px;
  text-align: center;
}

@media screen and (min-width: 768px) {
  .products-main {
    margin-bottom: 50px;
  }

  .our-products-slider .slick-list {
    margin-bottom: 32px;
  }
}

@media screen and (min-width: 1200px) {
  .products-item {
    width: 270px;
    padding: 32px 19px;
  }
}

@media screen and (max-width: 374px) {
  .products-item {
    padding: 32px 20px;
  }
}
