.slick-dots {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto;
}

.slick-dots li {
  min-width: 13px;
  height: 13px;
  margin: 0 auto;
}

.slick-dots li.slick-active button {
  display: block;
  width: 28px;
  height: 13px;
  background: #fd9222;
  border-radius: 50px;
  margin: 0 auto;
}

.slick-dots li button {
  display: block;
  width: 100%;
  height: 100%;
  background: rgba(17, 17, 17, 0.1);
  border-radius: 50%;
  border: none;
  font-size: 0;
  cursor: pointer;
}
